.foot-category-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.sns-context {
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.foot-about p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.categories {
  width: 100%;
  padding: 10px;
}

.foot-category-link a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  line-height: 2.5;
}
.foot-category-link a:hover {
  text-decoration: underline;
}
