.home-nav {
  width: 100%;
  background-color: rgb(252, 253, 253);
  position: fixed;
  z-index: 4;
  opacity: 95%;
}
.navbar {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar .main-logo {
  display: flex;
  justify-content: start;
  align-self: self-start;
  background-color: red;
  padding: 12px;
}
.navbar .main-logo .logo {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  color: white;
}
a:link {
  text-decoration: none;
}

.navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.navbar .nav-items .nav-item {
  font-size: large;
  font-weight: 500;
  color: grey;
}

.navbar .nav-items .nav-item:hover {
  font-size: large;
  color: red;
}

.nav-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: red;
  padding: 12px;
  gap: 20px;
}
.nav-login .login-button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: red;
  gap: 14px;
  border: 0;
}

.nav-login .user-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.logout-button {
  padding: 30px;
}

/* BASKET */

.basket-frame {
  position: relative;
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.basket-frame .basket-info-box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.basket-info-box .product-img {
  width: 40px;
  height: 40px;
  border-radius: 29px;
}

.basket-info-box .info {
  display: flex;
  flex-direction: column;
}

.basket-info-box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
  min-width: 72px;
}

.basket-frame .basket-order {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.basket-frame .basket_all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.basket-frame .orders-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
  width: 10px;
}

.basket-frame .orders-main-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
}

.css-1toxriw-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 40px;
}
.css-vm7m72-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: unset !important;
}
