.help-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.help-page .help-container {
  margin-top: 50px;
  margin-right: 230px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.help-page .help-menu {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #f8f8ff;
  margin-top: 40px;
}

.help-page .help-menu .table-list {
  display: flex;
  justify-content: space-between;
}

.help-page .css-1gsv261 {
  width: 75%;
}

.help-page .css-heg063-MuiTabs-flexContainer {
  justify-content: space-between;
}

.help-page .css-19kzrtu {
  padding-top: 24px;
}

.help-page .help-main-content {
  width: 100%;
  height: auto;
}

.help-page .rules-box {
  padding: 24px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededed;
  box-shadow: 0px 20px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.rules-box .rules-frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.help-page .accordion-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.help-page .admin-letter-box {
  padding: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededed;
  box-shadow: 0px 20px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.help-page .admin-letter-box .admin-letter-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.help-page .admin-letter-container .admin-letter-frame {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.help-page .admin-letter-container .admin-letter-frame {
  display: flex;
  flex-direction: column;
}

.help-page .admin-letter-frame .admin-input-box {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.help-page .admin-letter-frame .admin-input-box input {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 8px;
  line-height: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: grey;
}

.help-page .admin-letter-frame .admin-input-box textarea {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 8px;
  line-height: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: grey;
}

.address {
  height: auto;
  display: flex;
  justify-content: center;
}

.address .address-area {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
