.homepage {
  width: 100%;
  height: auto;
}

.homepage .banner-frame {
  width: 100%;
  height: auto;
  justify-content: center;
}
.banner-frame .banner-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-top: 160px;
  padding-bottom: 180px;
  margin-bottom: 40px;
}
.banner-frame .banner-container .left-side {
  width: auto;
  justify-content: center;
  opacity: 3;
  margin-right: 40px;
  gap: 40px;
}
p {
  color: grey;
  font-size: 24px;
}

.banner-frame .banner-container .left-side .main-buttons {
  width: 340px;
  display: flex;
  justify-content: space-between;
}

.banner-frame .banner-container .book-images {
  display: flex;
  flex-direction: row;
  flex-wrap: "wrap";
  gap: 10px;
  width: 220px;
  height: 220px;
}

.banner-frame .banner-container .book-images img {
  width: 220px;
  height: 220px;
}

.brand-frame {
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.brand-frame .brand-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-frame .brand-container img {
  width: 110px;
  height: 100px;
  padding: 20px;
}
